h1 {
  color: burlywood;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: greenyellow;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
